IDI_APPICON ICON "images/IDI_PIKAICON.ico"

1 VERSIONINFO
 FILEVERSION 1,0,0,0
 PRODUCTVERSION 1,0,0,0
 FILEOS 0x4L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "0C0A04E4"
        BEGIN
            VALUE "CompanyName", "2009 \xCFnertinc co."
            VALUE "FileDescription", "Pikachu Volley Revamped"
            VALUE "FileVersion", "1.0.0"
            VALUE "ProductName", "Pikachu Volley Edici\xF3n Especial MurciaLanParty - Revamped"
            VALUE "ProductVersion", "1.0.0"
            VALUE "OriginalFilename", "pikaball_revamped.exe"
            VALUE "LegalCopyright", "2009 MurciaLanParty / 2025 Butakus"
            VALUE "Comments", "Pikachu Volley MurciaLanParty - Revamped"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x0C0A, 1252
    END
END
